<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="AM++ Glass Lab" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false" android:hardwareAccelerated="true">
        <activity android:name=".GlassLabActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
